# Python stuff, we dont care about!
__pycache__

# May have the Assembly-CSharp.dll!!!
bin

# Blizzard temp log
launcher/blizzard.log

# Pyinstaller building
launcher/build
launcher/*.spec
launcher/dist

# for validator.py
Assembly-CSharp.dll